<div class="row" id="booking_calendar">
  <div class="col-md-12">
    <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="currentCalendar"></div>
  </div>
</div>

<div class="row" id="booking_Form">
  <div class="col-md-12">
    <form role="form" ng-submit="submitBooking(bookingArea)">
      <div class="form-group col-md-6">
        <label for="booking_date">Booking Date</label>
        <p class="input-group">
          <input type="text"
                class="form-control"
                datepicker-popup="{{dateFormat}}"
                ng-model="bookingDate"
                is-open="opened"
                min-date="minDate"
                max-date="maxDate"
                datepicker-options="dateOptions"
                date-disabled="disabled(date, mode)"
                ng-required="true"
                close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        <div class="col-md-3">
          <label for="booking_time">Booking Start Time</label>
          <timepicker ng-model="bookingStartTime" ng-change="timeChanged('Start',bookingStartTime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        </div>
        <div class="col-md-3">
          <label for="booking_time">Booking End Time</label>
          <timepicker ng-model="bookingEndTime" ng-change="timeChanged('End',bookingEndTime)" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label for="booking_reason">Booking Reason</label>
        <textarea class="form-control" rows="3" ng-model="bookingReason"></textarea>
        <label for="booking_person">Booking Organization</label>
        <input type="text" class="form-control" ng-model="bookingPerson" placeholder="Enter Organization Name">
      </div>
      <div class="btn-group">
        <label class="btn btn-success" ng-change='changeBookingArea(bookingArea)' ng-model="bookingArea" btn-radio="'FirstFloor'">FirstFloor</label>
        <label class="btn btn-success" ng-change='changeBookingArea(bookingArea)' ng-model="bookingArea" btn-radio="'SecondFloor'">SecondFloor</label>
      </div>
      <button type="submit" id="bookingBtn" class="btn btn-default">Submit</button>
    </form>


  </div>
</div>


<div class="row col-md-4">
  Booking Church {{bookingArea}} From: {{bookingStartTime | date:'shortTime'}} {{bookingDate | date: 'dd-MM-yyyy'}} To: {{bookingEndTime | date:'shortTime'}} {{bookingDate | date: 'dd-MM-yyyy'}}
</div>
